/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #230430, #000000 );
}

/* Cabecera y footer */
.Principio, .Final {
    flex: 15;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

/* Sección central */
.Grid {
    flex: 70;
    display: flex;
    background-image: url(images/thumb-1920-119151.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;

        /* NUEVO ESTILO PARA BORDE REDONDEADO */
        border-radius: 30px;         /* Ajusta el valor para más o menos curvatura */
        overflow: hidden;            /* Para que el contenido del iframe también se redondee */
        box-shadow: 0 8px 20px rgba(0,0,0,0.5);
        border: 3px double #2a2a72;  /* Borde opcional, a juego con tu tema */
    
}

/* Menú lateral */
.Menu-Container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-left: 3px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.menu a {
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #2a2a72;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #47083d;
    transform: scale(1.05);
}

/* Galería Pokémon compacta */
.Main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

/* Tarjetas Pokémon */
.pokemon-card {
    background-color: rgba(138, 19, 207, 0.6);
    border-radius: 12px;
    text-align: center;
    /* Ocupa toda la celda */
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 5px;
}

.pokemon-card:hover {
    transform: translateY(-5px) scale(1.25);
    box-shadow: 0 6px 12px rgb(151, 22, 12);
    transition: transform 0.3s, box-shadow 0.3s;
}

